body {
  background-color: #36384C;
  font-family: 'Raleway', sans-serif;
}

h1 {
color: rgba(180, 179, 188, 0.2);
}
h3 {
color:  #E3BAB3;
}

.material-icons {
  float: left;
  color: #E9DCCD;
  background-color: rgba(180, 179, 188, 0.2);

}

#timer_div {
float:left;

}

#startScreen {
  display: flex;
  justify-content: center;


}

#titlebar {
  height: 80px;

  text-align: center;

}
#gameScreen {

  width: 500px;
  display: none;
  margin-left:auto;
  margin-right:auto;


}
.cards{
  height:150px;
  width:100px;
  display:inline-block;
  padding:5px;

}
.front {
  background-color: #E9DCCD;

}

.back{
  background-color: #849974;
}
